@import url(https://fonts.googleapis.com/css?family=Bona+Nova:regular,italic,700);
body{
    font-family: "Bona Nova";
    font-weight: 400;
    font-size: 30;
}
div{
    background-color: blanchedalmond;
    color: black;

}
